# Project 1

## Using Pandas

### Read in the data
URL of the dataset: https://data.cityofnewyork.us/Housing-Development/Electric-Consumption-And-Cost-2010-Feb-2023-/jr24-e7cr/about_data

In [11]:
import csv
import pandas as pd

df = pd.read_csv('/Users/linali/Desktop/24 Fall/Computing in Context/project 1/Electric_Consumption_And_Cost__2010_-_Feb_2023__20241103.csv')
df.head()

/var/folders/3t/2_s7ggxx7kx3z_1z7rt_t0dm0000gn/T/ipykernel_12888/254496160.py:4: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/linali/Desktop/24 Fall/Computing in Context/project 1/Electric_Consumption_And_Cost__2010_-_Feb_2023__20241103.csv')

,Development Name,Borough,Account Name,Location,Meter AMR,Meter Scope,TDS #,EDP,RC Code,Funding Source,...,Meter Number,Estimated,Current Charges,Rate Class,Bill Analyzed,Consumption (KWH),KWH Charges,Consumption (KW),KW Charges,Other charges
0,ADAMS,BRONX,ADAMS,BLD 05,NONE,BLD 01 to 07,118.0,248,B011800,FEDERAL,...,7223256,N,15396.82,GOV/NYC/068,Yes,128800.0,7387.97,216.0,2808.0,5200.85
1,ADAMS,BRONX,ADAMS,BLD 05,NONE,BLD 01 to 07,118.0,248,B011800,FEDERAL,...,7223256,N,14556.34,GOV/NYC/068,Yes,115200.0,6607.87,224.0,2912.0,5036.47
2,ADAMS,BRONX,ADAMS,BLD 05,NONE,BLD 01 to 07,118.0,248,B011800,FEDERAL,...,7223256,N,13904.98,GOV/NYC/068,Yes,103200.0,5919.55,216.0,2808.0,5177.43
3,ADAMS,BRONX,ADAMS,BLD 05,NONE,BLD 01 to 07,118.0,248,B011800,FEDERAL,...,7223256,N,14764.04,GOV/NYC/068,Yes,105600.0,6057.22,208.0,2704.0,6002.82
4,ADAMS,BRONX,ADAMS,BLD 05,NONE,BLD 01 to 07,118.0,248,B011800,FEDERAL,...,7223256,N,13729.54,GOV/NYC/068,Yes,97600.0,5598.34,216.0,2808.0,5323.20

In [13]:
df.tail()

,Development Name,Borough,Account Name,Location,Meter AMR,Meter Scope,TDS #,EDP,RC Code,Funding Source,...,Meter Number,Estimated,Current Charges,Rate Class,Bill Analyzed,Consumption (KWH),KWH Charges,Consumption (KW),KW Charges,Other charges
447844,WYCKOFF GARDENS,BROOKLYN,WYCKOFF GARDENS,BLD 03,INTERVAL,NaN,163.0,272,K016300,FEDERAL,...,1786584,N,3342.30,GOV/NYC/068,Yes,0.0,0.00,144.60,1590.60,1751.70
447845,WYCKOFF GARDENS,BROOKLYN,WYCKOFF GARDENS,BLD 03,INTERVAL,NaN,163.0,272,K016300,FEDERAL,...,1786586,N,3755.58,GOV/NYC/068,Yes,0.0,0.00,162.48,1787.28,1968.30
447846,WYCKOFF GARDENS,BROOKLYN,WYCKOFF GARDENS,BLD 02,AMR,NaN,163.0,272,K016300,FEDERAL,...,2786583,N,9092.54,GOV/NYC/068,Yes,82800.0,4327.13,0.00,0.00,4765.41
447847,WYCKOFF GARDENS,BROOKLYN,WYCKOFF GARDENS,BLD 03,AMR,NaN,163.0,272,K016300,FEDERAL,...,2786584,N,9927.14,GOV/NYC/068,Yes,90400.0,4724.31,0.00,0.00,5202.83
447848,WYCKOFF GARDENS,BROOKLYN,WYCKOFF GARDENS,BLD 03,AMR,NaN,163.0,272,K016300,FEDERAL,...,2786586,N,10805.65,GOV/NYC/068,Yes,98400.0,5142.39,0.00,0.00,5663.26

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 447849 entries, 0 to 447848
Data columns (total 27 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Development Name    446368 non-null  object
 1   Borough             447849 non-null  object
 2   Account Name        447849 non-null  object
 3   Location            436128 non-null  object
 4   Meter AMR           447622 non-null  object
 5   Meter Scope         23867 non-null   object
 6   TDS #               445111 non-null  float64
 7   EDP                 447849 non-null  int64
 8   RC Code             447849 non-null  object
 9   Funding Source      447849 non-null  object
 10  AMP #               445962 non-null  object
 11  Vendor Name         447849 non-null  object
 12  UMIS BILL ID        447849 non-null  int64
 13  Revenue Month       447849 non-null  object
 14  Service Start Date  447841 non-null  object
 15  Service End Date    447841 non-null  object
 16  # days              447841 non-null  float64
 17  Meter Number        447849 non-null  object
 18  Estimated           447507 non-null  object
 19  Current Charges     447849 non-null  float64
 20  Rate Class          447849 non-null  object
 21  Bill Analyzed       447849 non-null  object
 22  Consumption (KWH)   447849 non-null  float64
 23  KWH Charges         447849 non-null  float64
 24  Consumption (KW)    447849 non-null  float64
 25  KW Charges          447849 non-null  float64
 26  Other charges       447849 non-null  float64
dtypes: float64(8), int64(2), object(17)
memory usage: 92.3+ MB

In [17]:
df.sample()

,Development Name,Borough,Account Name,Location,Meter AMR,Meter Scope,TDS #,EDP,RC Code,Funding Source,...,Meter Number,Estimated,Current Charges,Rate Class,Bill Analyzed,Consumption (KWH),KWH Charges,Consumption (KW),KW Charges,Other charges
49639,PELHAM PARKWAY,BRONX,PELHAM PARKWAY,BLD 01,AMR,NaN,39.0,586,B003900,FEDERAL,...,7929837,N,4755.16,GOV/NYC/068,Yes,33600.0,1843.3,0.0,0.0,2911.86

### Data Cleaning

In [19]:
df = pd.read_csv('/Users/linali/Desktop/24 Fall/Computing in Context/project 1/Electric_Consumption_And_Cost__2010_-_Feb_2023__20241103.csv', dtype = {'Meter Number':'string'})

In [21]:
df.head()

,Development Name,Borough,Account Name,Location,Meter AMR,Meter Scope,TDS #,EDP,RC Code,Funding Source,...,Meter Number,Estimated,Current Charges,Rate Class,Bill Analyzed,Consumption (KWH),KWH Charges,Consumption (KW),KW Charges,Other charges
0,ADAMS,BRONX,ADAMS,BLD 05,NONE,BLD 01 to 07,118.0,248,B011800,FEDERAL,...,7223256,N,15396.82,GOV/NYC/068,Yes,128800.0,7387.97,216.0,2808.0,5200.85
1,ADAMS,BRONX,ADAMS,BLD 05,NONE,BLD 01 to 07,118.0,248,B011800,FEDERAL,...,7223256,N,14556.34,GOV/NYC/068,Yes,115200.0,6607.87,224.0,2912.0,5036.47
2,ADAMS,BRONX,ADAMS,BLD 05,NONE,BLD 01 to 07,118.0,248,B011800,FEDERAL,...,7223256,N,13904.98,GOV/NYC/068,Yes,103200.0,5919.55,216.0,2808.0,5177.43
3,ADAMS,BRONX,ADAMS,BLD 05,NONE,BLD 01 to 07,118.0,248,B011800,FEDERAL,...,7223256,N,14764.04,GOV/NYC/068,Yes,105600.0,6057.22,208.0,2704.0,6002.82
4,ADAMS,BRONX,ADAMS,BLD 05,NONE,BLD 01 to 07,118.0,248,B011800,FEDERAL,...,7223256,N,13729.54,GOV/NYC/068,Yes,97600.0,5598.34,216.0,2808.0,5323.20

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 447849 entries, 0 to 447848
Data columns (total 27 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Development Name    446368 non-null  object
 1   Borough             447849 non-null  object
 2   Account Name        447849 non-null  object
 3   Location            436128 non-null  object
 4   Meter AMR           447622 non-null  object
 5   Meter Scope         23867 non-null   object
 6   TDS #               445111 non-null  float64
 7   EDP                 447849 non-null  int64
 8   RC Code             447849 non-null  object
 9   Funding Source      447849 non-null  object
 10  AMP #               445962 non-null  object
 11  Vendor Name         447849 non-null  object
 12  UMIS BILL ID        447849 non-null  int64
 13  Revenue Month       447849 non-null  object
 14  Service Start Date  447841 non-null  object
 15  Service End Date    447841 non-null  object
 16  # days              447841 non-null  float64
 17  Meter Number        447849 non-null  string
 18  Estimated           447507 non-null  object
 19  Current Charges     447849 non-null  float64
 20  Rate Class          447849 non-null  object
 21  Bill Analyzed       447849 non-null  object
 22  Consumption (KWH)   447849 non-null  float64
 23  KWH Charges         447849 non-null  float64
 24  Consumption (KW)    447849 non-null  float64
 25  KW Charges          447849 non-null  float64
 26  Other charges       447849 non-null  float64
dtypes: float64(8), int64(2), object(16), string(1)
memory usage: 92.3+ MB

### Compute:
1. The mean
1. The median
1. The mode

In [25]:
consumption = df['Consumption (KWH)']
mean_value = consumption.mean()
print('Mean:', f'{mean_value:.2f}')
median_value = consumption.median()
print('Median:', f'{median_value:.2f}') 
mode_value = consumption.mode()
#in case there are multiple modes 
for i in mode_value:
    print('Mode(s):', f'{i:.2f}')

Mean: 31156.45
Median: 13400.00
Mode(s): 0.00

## Using only the Python Standard Library

## Read in the data

In [27]:
import csv

input_file = '/Users/linali/Desktop/24 Fall/Computing in Context/project 1/Electric_Consumption_And_Cost__2010_-_Feb_2023__20241103.csv'

# open input files
with open(input_file, 'r') as csvfile:

    NYC_electricity = []
    reader = csv.DictReader(csvfile)
    for row in reader:
        NYC_electricity.append(row)

## Compute:
1. The mean
1. The median
1. The mode

In [29]:
#calculate mean
consumption = []
for row in NYC_electricity:
    consumption.append(row['Consumption (KWH)'])
    
consumption = [float(row['Consumption (KWH)']) for row in NYC_electricity]
mean_value = sum(consumption)/len(consumption)
print('Mean:', f'{mean_value:.2f}')

Mean: 31156.45

In [30]:
#calculate median
consumption.sort()
if len(consumption)%2 != 0:
    n = len(consumption)//2
    median_value = consumption[n]
    print('Median:', f'{median_value:.2f}')
else:
    n = len(consumption)//2
    median_value = (consumption[n-1] + consumption[n])/2
    print('Median:', f'{median_value:.2f}')

Median: 13400.00

In [33]:
#calculate mode
frequency = {}

for m in consumption:
    if m in frequency:
        frequency[m] += 1
    else:
        frequency[m] = 1

max_frequency = max(frequency.values())
modes = [key for key, count in frequency.items() if count == max_frequency]

for a in modes:
    print ("Mode(s):", f'{a:.2f}')

Mode(s): 0.00

## Data Visualization

In [35]:
consumption_by_borough = {}
for entry in NYC_electricity:
    borough = entry['Borough']
    kwh = float(entry['Consumption (KWH)'])
    
    if borough in consumption_by_borough:
        consumption_by_borough[borough] += kwh
    else:
        consumption_by_borough[borough] = kwh

print(consumption_by_borough)

{'BRONX': 3635073430.0, 'BROOKLYN': 4433873351.0, 'MANHATTAN': 4042236451.0, 'QUEENS': 1235081983.0, 'STATEN ISLAND': 392686276.0, 'NON DEVELOPMENT FACILITY': 214170031.0, 'FHA': 265679.0}

In [39]:
max_consumption = max(consumption_by_borough.values())
bar_character = '█'
max_bar_length = 50
for borough, kwh in consumption_by_borough.items():
    bar_length = int((kwh/max_consumption) * max_bar_length)
    bar = bar_character * bar_length
    print(f'{borough:25}:{bar}{kwh:,.0f}')

BRONX                    :████████████████████████████████████████3,635,073,430
BROOKLYN                 :██████████████████████████████████████████████████4,433,873,351
MANHATTAN                :█████████████████████████████████████████████4,042,236,451
QUEENS                   :█████████████1,235,081,983
STATEN ISLAND            :████392,686,276
NON DEVELOPMENT FACILITY :██214,170,031
FHA                      :265,679